@media (max-width: 1024px) {
  .bem-vindo .conteudo .titulo {
    font-size: 35px;
  }
  .bem-vindo .conteudo {
    max-width: 390px;
  }
  .empresas .container-empresas .empresa-info .empresa-img {
    width: 190px;
    height: 270px;
  }
  .empresas .container-empresas .empresa-info .data,
  .empresas .container-empresas .empresa-info .info-nota {
    font-size: 16px;
  }
}

@media (max-width: 968px) {
  .bem-vindo {
    flex-direction: column;
  }
  .bem-vindo .conteudo {
    max-width: 600px;
    text-align: center;
    margin-bottom: 50px;
  }
  .bem-vindo .person {
    width: 400px;
  }
  .bem-vindo,
  .empresas {
    padding: 50px 50px;
  }
  .empresas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .empresas .container-empresas {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header img {
    width: 30px;
  }
}
@media (max-width: 575px) {
  .header .logo {
    width: 40px;
  }
}
